a.header_logo {
    width: 300px;
    display: block;
}

.main-menu .navigation>li>ul,
.main-menu .navigation>li>.megamenu {
    width: 380px !important;
}

.searvice_cont_img_main {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    margin-bottom: 20px;
}

.searvice_cont_img_main img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.map-inner {
    width: 100%;
}

.map_section_lay {
    padding-top: 0px !important;
}

.main-menu .navigation>li.dropdown:hover>ul,
.main-menu .navigation>li.dropdown:hover>.megamenu,
.main-menu .navigation>li>ul,
.main-menu .navigation>li>.megamenu {
    left: 12px;
}

.refel_conde_from_box .input_group input {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #eeeff5;
    background: #f6f7fc;
    border-radius: 30px;
    font-size: 18px;
    color: #797979;
    padding: 10px 30px;
    transition: all 500ms ease;
}

.refel_conde_from_box .input_group {
    margin-bottom: 10px;
    width: 350px;
    /* padding: 1px 12px; */
    margin-right: 12px;
}

.refel_conde_from_box {
    display: flex;
    flex-flow: wrap;
}

.refel_conde_from_box .input_group label {
    color: #000;
    font-size: 16px;
    margin-bottom: 4px;
    padding-left: 4px;
    font-weight: 500;
}

.refel_conde_from_box .input_group label span {
    position: relative;
    /* left: 3px; */
    color: red;
}

.refel_code_heding h2,
.refel_policy h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #000;
    margin-top: 15px;
}

.refel_code_heding p,
.refel_policy p {
    font-size: 14px;
    margin-bottom: 12px;
}

.refel_policy button.theme-btn-one {
    padding: 9px 83px;
    margin-top: 15px;
}

.refel_main_section {
    padding: 40px 20px;
}

.header-top .top-inner p,
.header-top .top-inner p a {
    font-size: 14px;
}

.header-top {
    padding: 4.5px 0px;
}

.main-menu .navigation>li>a {
    line-height: 20px;
    padding: 25.5px 0px;
    font-size: 16px;
}

.page-title .content-box h1 {
    font-size: 48px;
}

.service-block-one .inner-box .lower-content {
    text-align: center;
    padding: 15px 10px;
}

.service-block-one .inner-box .lower-content h3 {
    font-size: 18px;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.about-section .video-inner h3 {
    font-size: 23px;
    line-height: 39px;
    color: #fff;
}

.about-section .video-inner .video-content {
    padding: 309px 30px 51px 30px;
}

.get_Disability_content {
    background: #0F3463;
    color: #fff;
    text-align: center;
    padding: 70px 0;
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.get_Disability_content:hover {
    background: #3CA586;
}

.get_Disability_content:hover button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #ffffff53;
}


.get_Disability_content h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 13px;
    font-size: 28px;
}

.get_Disability_content p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 17px;
}

.e-con-inner.contect_page_Add {
    padding: 50px 50px;
}

.header-top .top-inner .left-column {
    display: flex;
    align-items: center;
}

.header-top .top-inner .left-column p img {
    /* top: 0; */
}

.header-top .top-inner .left-column p {
    padding-left: 27px;
    margin-right: 19px;
    display: flex;
    align-items: center;
}

.header-top .top-inner .left-column p img {
    width: 21px;
}

.about-section .video-inner {
    margin-right: 0px;
    margin-top: 20px;
}

.elementor-16 .elementor-element.elementor-element-631a75e {
    padding-top: 30px;
}

/* ================= how to work =============== */
.how_to_work_new_box {
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left;
}

.bahow_to_work_new_box_backck h2 {
    position: absolute;
}




.how_to_work_new_box>.how_to_work_new_box_front {
    /* position: absolute; */
    transform: perspective(600px) rotateY(0deg);
    width: 302px;
    height: 290px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
    overflow: hidden;
}

.how_to_work_new_box>.how_to_work_new_box_back {
    position: absolute;
    transform: rotateY(180deg);
    background: #3ca586;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
    overflow: hidden;
}

.how_to_work_new_box_back h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    padding-top: 8px;
}

.how_to_work_new_box_back {
    text-align: center;
}

.how_to_work_new_box_back p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;

}

.how_to_work_main_hedong {
    margin-bottom: 30px;
    margin-top: 30px;
}

.how_to_work_main_hedong h1 {
    font-size: 30px;
    font-weight: 700;
    color: #3ca586;
    text-align: center;
}

.how_to_work_new_box:hover>.how_to_work_new_box_front {
    transform: rotateY(-180deg);
}

.how_to_work_new_box:hover>.how_to_work_new_box_back {
    transform: rotateY(0deg);
}

.how_to_work_new_box_front_image {
    height: 100%;
    width: 100%;
    position: relative;
}

.how_to_work_new_box_front_image img {
    height: 100% !important;
    object-fit: cover;
}

.how_to_work_new_box_front h2 {
    position: absolute;
    padding: 0;
    bottom: 0;
    color: #ffffff;
    background: #3ca586cc;
    font-size: 18px;
    width: 100%;
    /* text-align: center; */
    padding: 21px 0;
    display: flex;
    padding: 8px 6px;
    align-items: center;
}

.setup_count_set {
    background: #fff;
    color: #000;
    width: 35px;
    height: 36px;
    border-radius: 50% 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 800;
    color: green;
    position: absolute;
    top: -3px;
    left: -3px;
}

.how_to_work_new_box_front h2 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000000;
    color: #fff;
    margin-right: 5px;

}

.how_to_work_new_section {
    display: flex;
    margin-bottom: 45px;
    clear: both;
    justify-content: center;
}

.how_to_work_new_box_main_preren {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.service-section .slider-content {
    margin-left: 0px;
    margin-right: 0px;
}

.elementor-16 .elementor-element.elementor-element-975afe8 {
    --width: 41.66666667%;
    width: 50%;
}

.elementor-16 .elementor-element.elementor-element-631a75e {
    --width: 58.3333333%;
    width: 50%;
}

.banner-carousel .swiper-slide {
    position: relative;
    padding: 60px 0;
}

.list-style-one li {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    a.header_logo {
        width: 180px;
    }

    .main-header .logo-box {
        padding: 15px 0px;
    }

    .main-footer .contact-widget {
        margin-left: 0;
    }
}